<!DOCTYPE html>
<html lang = "pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#8257E5"> <!--Adicionar imagem no cabeçalho-->
    <title>Proffy | Sua plataforma de estudos online</title>

    <link rel="shortcut icon" href="images/images/icons/favicon.png" type="image/png"> <!--Adicionar imagem no cabeçalho-->
    <link rel="stylesheet" href="/styles/main.css">

    <link rel="stylesheet" href="/styles/partials/page-landing.css">
<!--há 2 links de stylesheet, elas podem se "comunicar entre si caso estejam no mesmo documento html -->
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;
700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet"> <!--BUSCAR FONTES NO GOOGLE-->
</head>
<body id="page-landing">
    <div id = "container">
        <div class="logo_image">
            <img src="/images/images/logo.svg" alt="Proffy">
            <h2>Sua Plataforma de estudos online</h2>
        </div>
        <img class="hero-image" src="/images/images/landing.svg" alt="Plataforma de estudos">

    <div class="buttons-container">
        <a class="study" href="/study"> <!--Quando configuramos o servidor, não precisamos mais da extensão ".html"-->
            <img src="images/images/icons/study.svg" alt="Estudar">Estudar
        </a>
        <a class="give-classes" href="/give-classes">
            <img src="images/images/icons/give-classes.svg" alt="Dar aulas">Dar aulas
        </a>
    </div>
        <p class="total-conections">
            <img src="/images/images/icons/purple-heart.svg" alt="Coração roxo">
            Total de 200 conexões já realizadas
        </p>
    </div>
</body>
</html>